html {
  font-family: "oswald";
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15pt;
  margin: 0;
  background-color: #c1a5a9;
  padding: 0;
  background-position: center;
}
#background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.active {
  margin-bottom: 50px;
  border: 2px solid gold;
  box-shadow: 0 0 10px #9ecaed;
  backdrop-filter: blur(50px);
}
.inactive {
  transform: translatex(-200px);
}
.blackout {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(150px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearLate 1s ease-out both;
}
/* ***********************************************
          HEADER & NAVIGATIONS
********************************************** */
.header {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.NAV {
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(10px);
  gap: 25%;
  display: flex;
  align-items: center;
  animation: slideFromTopNAV ease-out 0.5s both;
}
.navlist {
  transition: opacity 0.5s;
  display: flex;
  gap: 20px;
  color: #ff9505;
  font-weight: bold;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
.navlist li {
  transition: 0.5s;
  list-style: none;
}
.navlist button {
  font-weight: 201;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 5px;
  transition: all 0.5s;
}
ul:hover li button {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}
.navlist button:hover {
  color: #e3b505;
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}
.menu-btn__container {
  z-index: 201;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(20px);
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(20px);
}
.menu-btn__burger::before {
  transform: translateY(-9px);
}
.menu-btn__burger::after {
  transform: translateY(9px);
}
.menu-btn__container.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn__container.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn__container.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.SideMenu {
  z-index: 200;
  display: flex;
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  align-items: center;
}
.SideMenu > .logoMOB {
  width: 60px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 70px;
}
.SideMenu button {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SideMenu > .navlistMOB {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}
.SideMenu > .navlistMOB img {
  width: 40px;
  transition: all 0.5s;
}
.SideMenu .HiddenText {
  position: absolute;
  transform: translate(10px, 42px);
  font-size: 1rem;
  display: inline;
  transition: all 0.5s;
  opacity: 0;
}
.clickArea {
  z-index: 200;
  position: fixed;
  background-color: transparent;
  width: calc(100% - 140px);
  left: 140px;
  height: 100%;
}
.HeaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Icons {
  gap: 20px;
  justify-content: center;
  display: flex;
  width: 100%;
}
#Icons a {
  transition: 0.5s;
}
#Icons:hover li a {
  transform: scale(1.5);
}
#Icons a:hover {
  transform: scale(2);
}
#icon1 {
  animation: slideFromLeft 1s ease-in 2.5s both;
}
#icon2 {
  animation: slideFromLeft 1s ease-in 2.6s both;
}
#icon3 {
  animation: slideFromTop 1s ease-in 2.7s both;
}
#icon4 {
  animation: slideFromTop 1s ease-in 2.8s both;
}
#icon5 {
  animation: slideFromLeft 1s ease-in 2.9s both;
}
#icon6 {
  animation: slideFromLeft 1s ease-in 2.9s both;
}
/* ***********************************************
                 SECTIONS
********************************************** */
section {
  display: none;
  font-family: oswald;
  margin-bottom: 60px;
  padding: 20px;
  width: 90%;
  height: 120vh;
  border: 1px solid gold;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#About,
#projects,
#contact {
  animation: wideLEFT 1s ease-in-out both;
}
#cert,
#skills {
  animation: wideRIGHT 1s ease-in-out both;
}
/* form section */
#contact {
  width: 90%;
  height: 110vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
/* section skill/projects */
.projects,
#Skills,
.certificates {
  width: 100%;
  margin-top: 150px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.certificates {
  justify-content: center;
  gap: 50px;
}
.cert img:hover {
  transform: translateY(50px);
}
.projects {
  gap: 150px;
  row-gap: 60px;
  margin-top: 0;
  margin-bottom: 50px;
}
/* indviual skill/project */
.project,
.skill,
.cert {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid gold;
  backdrop-filter: blur(10px);
  animation: appearLate 1s ease-out 0.7s both;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cert {
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
/* inside the form section */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  backdrop-filter: blur(20px);
}
form::-webkit-scrollbar {
  display: none;
}
/* each form item */
.Form-Group {
  width: 70%;
}
input[type="submit"] {
  color: #fedb39;
  background-color: #d61c4e;
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
}
textarea {
  color: #75dbcd;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  height: 80px;
  background: none;
  backdrop-filter: blur(20px);
  margin-bottom: 0px;
  border: none;
  border-left: 2px solid #fedb39;
  border-right: 2px solid #fedb39;
  border-bottom: 1.5px solid #fedb39;
  outline: none;
}
#status {
  margin-top: 10px;
  margin-bottom: 5px;
  transition: 0.5s;
}
.success {
  color: #75dbcd;
  animation: status 4s ease forwards;
}
.failed {
  color: red;
  animation: status 4s ease forwards;
}
/* ***********************************************
                 IMAGES
********************************************** */
.NAV img {
  width: 60px;
}
/* each project img */
.projects img,
.cert img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: 0.5s;
}
.projects img:hover {
  transform: translatey(50px);
}
/* each skill img */
#Skills img {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
.skill:hover img {
  transform: translatey(100px);
  opacity: 0%;
}
/* speical case skill number 2 */
#Skills .skilltwo img {
  width: 170px;
  height: 170px;
  margin-top: 17px;
  margin-left: 10px;
  transition: 0.5s;
}
/* ***********************************************
                 TYPOGRAPGHY
********************************************** */
/* GENERAL LAYOUT */
h1,
h2,
h3 {
  color: #e3b505;
  font-weight: bold;
  text-align: center;
}
h1 {
  text-shadow: 2px 2px 8px #ff0000;
  font-size: 6.5rem;
  animation: slideFromLeft ease-out 1s both;
}
h3 {
  animation: appearLate ease-out 1s 1.7s both;
  font-size: 2rem;
  margin-bottom: 20px;
}
p {
  font-size: 2.5rem;
  text-shadow: 2px 2px 8px #ff0000;
  color: #75dbcd;
}
.brand {
  -webkit-text-stroke: 0.5px black;
  animation: Right ease-out 1s 1s both, Title 2.5s linear infinite;
  font-size: 3rem;
}
label {
  font-weight: bold;
  font-size: 1.3rem;
  color: #e3b505;
  text-shadow: 2px 2px 8px #ff0000;
}
input {
  backdrop-filter: blur(30px);
  color: white;
  border: none;
  border-left: 2px solid #fedb39;
  border-right: 2px solid #fedb39;
  background-color: transparent;
  display: inline-block;
  border-bottom: 1.5px solid #fedb39;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  outline: none;
}
/* ---------------------- */

.HeaderText h1,
.HeaderText h2,
.HeaderText h3 {
  margin-top: 60px;
}
h2 span {
  animation: slideFromLeft ease-out 1s 1s both, Title 2.5s linear infinite;
  font-size: 6.5rem;
  -webkit-text-stroke: 0;
}
section h2 {
  animation: slideFromLeft ease-out 1s 0.5s both;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
}
section p {
  animation: slideFromLeft ease-out 1s 0.5s both;
}
.projects p,
.cert p {
  animation: none;
}
#projects #icon2 {
  transform: translateX(200px);
}
.project p,
.cert p {
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  z-index: -1;
}
#skills p {
  /* font-size: 1.5rem; */
  text-align: center;
}
#contact p {
  font-weight: bold;
  font-size: 1.2rem;
}
/* ***********************************************
                 BOOTSTRAP
********************************************** */
.containers {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  animation: slideFromTopProgress 1s ease-in both;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #f2f5f5;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: rgb(250, 245, 245);
  text-align: center;
  position: absolute;
}

.progress.blue .progress-bar {
  border-color: #e3b505;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}
@keyframes appearLate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
/* ANIMATIONS */

@keyframes slideFromLeft {
  0% {
    transform: translateX(-700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
@keyframes Title {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }

  8% {
    color: rgb(255, 127, 0);
  }

  16% {
    color: rgb(255, 255, 0);
  }

  25% {
    color: rgb(127, 255, 0);
  }

  33% {
    color: rgb(0, 255, 0);
  }

  41% {
    color: rgb(0, 255, 127);
  }

  50% {
    color: rgb(0, 255, 255);
  }

  58% {
    color: rgb(0, 127, 255);
  }

  66% {
    color: rgb(0, 0, 255);
  }

  75% {
    color: rgb(127, 0, 255);
  }

  83% {
    color: rgb(255, 0, 255);
  }

  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes Right {
  0% {
    transform: translateX(700px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
@keyframes slideFromTopNAV {
  0% {
    transform: translatey(-500px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translatey(700px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@keyframes slideFromTopProgress {
  0% {
    transform: translate(20px, 200px);
    opacity: 0%;
  }

  100% {
    transform: translate(20px, 15px);
    opacity: 100%;
  }
}
@keyframes wideLEFT {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(60px);
  }
}
@keyframes wideRIGHT {
  0% {
    transform: translateX(1600px);
  }
  100% {
    transform: translateX(60px);
  }
}
@keyframes status {
  0% {
    opacity: 0;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}
@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 990px) {
  body {
    height: 920vh;
  }
  .NAV {
    display: none;
  }
  .header {
    height: 160vh;
  }
  .navlist {
    display: none;
  }
  .logo {
    display: none;
  }
  #projects {
    height: 160vh;
  }
  #Skills {
    margin-top: 50px;
    justify-content: space-around;
    gap: 120px;
    row-gap: 50px;
  }
  .certificates {
    margin-top: 50px;
  }
  .projects {
    margin-top: 50px;
    gap: 10px;
    row-gap: 50px;
  }
  #skills {
    height: 160vh;
  }
  .progress {
    margin-bottom: 20px;
  }
  #contact {
    height: 145vh;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .NAV {
    font-size: 9px;
    gap: 20px;
  }
  .NAV ul {
    gap: 10px;
  }
  .blackout > img {
    width: 74%;
    height: 59%;
  }
  #Icons img {
    width: 70%;
  }
  #Icons {
    max-width: 300px;
    margin: 0;
    flex-wrap: wrap;
  }

  .certificates {
    row-gap: 60px;
  }
  #cert {
    height: 146vh;
  }
  section h2 {
    font-size: 1.8rem;
  }
  .cert p,
  .projects p {
    font-size: 16px;
  }
  .SideBarBtn .HiddenText {
    font-size: 1.5rem;
  }
  #projects > a > img {
    left: 0px;
    width: 60px;
    height: 60px;
    animation: slideFromLeft 1s ease-in 0.7s both;
  }
  section,
  #contact {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: none;
    transition: 0.5s;
  }
  .projects,
  #Skills {
    gap: 67px;
    row-gap: 60px;
    max-width: 400px;
    flex-wrap: wrap;
    margin-top: 0;
  }
  #skills {
    height: 112vh;
  }
  .projects img,
  .project,
  .skill {
    width: 100px;
    height: 100px;
  }
  #Skills img {
    width: 90px;
    height: 90px;
  }
  #Skills .skilltwo img {
    width: 80px;
    height: 80px;
  }
  .row .col-md-3 {
    padding: 0;
  }
  .progress {
    margin-left: 7px;
    width: 70px;
    height: 70px;
    line-height: 72px;
  }
  .progress .progress-value {
    font-size: 21px;
  }
  #About,
  #projects,
  #contact,
  #cert,
  #skills {
    animation: none;
  }
}
