html {
  font-family: "oswald";
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: 600vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15pt;
  margin: 0;
  background-color: #c1a5a9;
  padding: 0;
}

#background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.active {
  display: block;
}
/* ***********************************************
          HEADER & NAVIGATIONS
********************************************** */
.header {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#Icons {
  gap: 20px;
  justify-content: center;
  display: flex;
  width: 100%;
}

#Icons button {
  transition: 0.5s;
}

#Icons:hover li button {
  transform: scale(1.5);
}

#Icons button:hover {
  transform: scale(2);
}

#icon1 {
  animation: slideFromLeft 1s ease-in 2.5s both;
}

#icon2 {
  animation: slideFromLeft 1s ease-in 2.6s both;
}

#icon3 {
  animation: slideFromTop 1s ease-in 2.7s both;
}

#icon4 {
  animation: slideFromRight 1s ease-in 2.8s both;
}

#icon5 {
  animation: slideFromRight 1s ease-in 2.9s both;
}
#icon6 {
  animation: slideFromRight 1s ease-in 2.9s both;
}

.NAV {
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(10px);
  gap: 30%;
  display: flex;
  align-items: center;
  animation: slideFromTopNAV ease-out 0.5s both;
}

ul {
  display: flex;
  gap: 20px;
  color: #ff9505;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

li {
  transition: 0.5s;
  list-style: none;
}

.NAV button {
  font-weight: 200;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 5px;
  transition: 0.5s;
}

ul:hover li button {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

.NAV button:hover {
  color: #e3b505;
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}

/* ***********************************************
                 SECTIONS
********************************************** */
section {
  display: none;
  font-family: oswald;
  margin-bottom: 60px;
  position: relative;
  top: 1000px;
  width: 90vw;
  height: 100vh;
  border: 1px solid gold;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  animation: wide 0.7s ease-out both;
}
@keyframes wide {
  0% {
    width: 0;
  }
  100% {
    width: 90vw;
  }
}
.projects,
#Skills {
  margin-top: 150px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.project p {
  transform: translate(35px, 0px);
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  z-index: -1;
}

#skills p {
  font-size: 1.5rem;
  text-align: center;
}

.project,
.skill {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid gold;
  backdrop-filter: blur(10px);
}
#contact {
  height: 110vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
#status {
  margin-top: 10px;
  margin-bottom: 5px;
  transition: 0.5s;
}
@keyframes status {
  0% {
    opacity: 0;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    pointer-events: all;
  }
}
.success {
  color: #75dbcd;
  animation: status 4s ease forwards;
}
.failed {
  color: red;
  animation: status 4s ease forwards;
}
form {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  backdrop-filter: blur(20px);
}
form::-webkit-scrollbar {
  display: none;
}
.Form-Group {
  width: 70%;
}
input {
  backdrop-filter: blur(30px);
  color: #75dbcd;
  border: none;
  border-left: 2px solid #fedb39;
  border-right: 2px solid #fedb39;
  background-color: transparent;
  display: inline-block;
  border-bottom: 1.5px solid #fedb39;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}
input[type="submit"] {
  color: #fedb39;
  background-color: #d61c4e;
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
}
textarea {
  color: #75dbcd;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  height: 80px;
  background: none;
  backdrop-filter: blur(20px);
  margin-bottom: 0px;
  border: none;
  border-left: 2px solid #fedb39;
  border-right: 2px solid #fedb39;
  border-bottom: 1.5px solid #fedb39;
}

/* ***********************************************
                 IMAGES
********************************************** */
.projects img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: 0.5s;
}

.projects img:hover {
  transform: translatey(50px);
}

#Skills img:hover {
  transform: translatey(100px);
  opacity: 0%;
}

.NAV img {
  width: 60px;
}

#Skills img {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}

#Skills .skilltwo img {
  width: 170px;
  height: 170px;
  margin-top: 17px;
  margin-left: 10px;
  transition: 0.5s;
}

/* ***********************************************
                 TYPOGRAPGHY
********************************************** */
section h2 {
  animation: slideFromLeft ease-out 1s 0.5s both;
  font-family: "Merriweather Sans", sans-serif;
}
section p {
  animation: slideFromRight ease-out 1s 0.5s both;
}

.HeaderText h1,
.HeaderText h2,
.HeaderText h3 {
  margin-top: 60px;
}

h1,
h2,
h3 {
  color: #e3b505;
  font-weight: bold;
  text-align: center;
}
label {
  font-weight: bold;

  font-size: 1.3rem;
  color: #75dbcd;
}
p {
  font-size: 2.5rem;
  color: #75dbcd;
}
#contact p {
  font-weight: bold;
  font-size: 1.2rem;
}
h1 {
  font-size: 6.5rem;
  animation: slideFromLeft ease-out 1s both;
}

section h2 {
  font-size: 3rem;
}
.projects p {
  animation: none;
}
h2 span {
  animation: slideFromRight ease-out 1s 1s both, Title 2.5s linear infinite;
  font-size: 6.5rem;
  -webkit-text-stroke: 0;
}

span {
  -webkit-text-stroke: 0.5px black;
  animation: slideFromRight ease-out 1s 1s both, Title 2.5s linear infinite;
  font-size: 3rem;
}

h3 {
  animation: slideFromLeft ease-out 1s 1.5s both;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* ***********************************************
                 BOOTSTRAP
********************************************** */
.container1,
.container2,
.container3,
.container4 {
  display: none;
  position: absolute;
  transform: translate(20px, 15px);
  z-index: -1;
  transition: 0.5s;
  animation: slideFromTopProgress 1s ease-in both;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #f2f5f5;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: rgb(250, 245, 245);
  text-align: center;
  position: absolute;
}

.progress.blue .progress-bar {
  border-color: #e3b505;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-700px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes Title {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }

  8% {
    color: rgb(255, 127, 0);
  }

  16% {
    color: rgb(255, 255, 0);
  }

  25% {
    color: rgb(127, 255, 0);
  }

  33% {
    color: rgb(0, 255, 0);
  }

  41% {
    color: rgb(0, 255, 127);
  }

  50% {
    color: rgb(0, 255, 255);
  }

  58% {
    color: rgb(0, 127, 255);
  }

  66% {
    color: rgb(0, 0, 255);
  }

  75% {
    color: rgb(127, 0, 255);
  }

  83% {
    color: rgb(255, 0, 255);
  }

  91% {
    color: rgb(255, 0, 127);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(700px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
@keyframes slideFromTopNAV {
  0% {
    transform: translatey(-500px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translatey(700px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@keyframes slideFromTopProgress {
  0% {
    transform: translate(20px, 200px);
    opacity: 0%;
  }

  100% {
    transform: translate(20px, 15px);
    opacity: 100%;
  }
}

@media (max-width: 750px) {
  #myVideo {
    display: none;
  }

  body {
    background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
    background-size: cover;
  }
}
